.nav-bg-color{
    background-color: rgba(255,255,255,0.4);
}

.top-bg-box{
    /*let rdb 73,35,180*/
    /*right rgb 232,120,207*/
    background-image: linear-gradient(to right, #4923B4, #E878CF);
    border-radius: 0 0 150px 0;
    padding: 0 0 280px 0;
    position: relative;
}

.website-top-bg{
    margin: 0px;
    background-image: url("./images/Rectangle 2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: initial;
    position: fixed;
    top: 0;
    width: 100%;
    height: 350px;
    z-index: -1;
}

.nav-link-color{
    color: #dddddd !important;
}

.nav-link-active{
    color: #ffffff !important;
}

.nav-link:hover{
    color: #ffffff !important;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #ffffff;
}

.margin-auto{
    margin: auto;
}

.top-content-text{
    color: #ffffff;
    margin: auto;
}

.hold-coin-introduction{
    position: absolute;
    bottom: -12vh;
}

.introduction-content{
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px #c5c5c5;
    padding: 40px;
    /*box-sizing: border-box;*/
}

.kongge{
    text-indent:2em;
    font-size: 10px;
}

.promotion-card{
    background-image: linear-gradient(to bottom, #65E8E6, #41C0BB);
    padding: 15px 10px;
    border-radius: 15px;
    color: #ffffff;
}

.promotion-card-none{
    padding: 15px 10px;
    border-radius: 15px;
    color: #ffffff;
    margin-left: 10px;
}

.baiyin-color{
    background-image: linear-gradient(to bottom, #F7F8FF, #D6E0FF);
}

.gold-color{
    background-image: linear-gradient(to bottom, #FFF9EC, #F6E4B9);
}

.diamond-color{
    background-image: linear-gradient(to bottom, #E6F3FF, #C6DEFF);
}

.crown-color{
    background-image: linear-gradient(to bottom, #F0EAFF, #D6C6FF);
}

.commission-bg{
    background-image: linear-gradient(to bottom right, #D8AAE8 2%, #FAF4E4 88%);
    padding: 40px 0;
    margin-top: 50px;
}

.commission-btn{
    background-image: linear-gradient(to bottom, #ACD3EE, #7FB1DF);
    padding: 5px 15px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 28px;
    color: #ffffff;
}

.ai-bg-image{
    background-image: url("./images/ai-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: initial;
    position: relative;
    top: 0;
    z-index: -1;
    width: 100%;
    padding: 40px 0;
}

.table-box{
    display: table;
}

.ai-transaction-rule{
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    color: #000000;
    padding: 15px;
    text-align: center;
    font-weight: 500;
    min-height: 100px;
    display: table-cell;vertical-align: middle;
}

.token-w-color{
    background-color: #f4f4f4;
    padding-bottom: 50px;
}

.token-box{
    border: 2px solid #ffffff;
    background-color: #F7F0FF;
    border-radius: 15px;
}

.token-left-box{
    padding: 15px;
    color: #000000;
}

.token-right-box{
    background-image: linear-gradient(to bottom, #7074FA, #3F40DC);
    color: #ffffff;
    border-radius: 0 15px 15px 0px;
    padding: 15px;
}

.j-short-bg{
    background-image: url("./images/j-short.png");
    background-repeat: no-repeat;
    background-size: 25% 40px;
    margin-left: 10px;
    margin-top: 15px;
}

.j-long-bg{
    background-image: url("./images/j-short.png");
    background-repeat: no-repeat;
    background-size: 38% 40px;
    margin-left: 10px;
    margin-top: 15px;
}

.min-title{
    height: 50px;
    line-height: 40px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
}

.roadmap-box{
    padding: 40px 0 80px 0;
}

.roadmap-bg{
    background-image: url("./images/line.png");
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
    width: 100%;
    height: 1200px;
}

.cir-center{
    width: 30px;
    height: 30px;
    background-color: #5456E9;
    border-radius: 50%;
    border: 8px solid rgba(84,86,233, 0.3);
    margin: auto;
    background-clip:  padding-box;
    display: inline-block;
    margin-top: 5px;
}

.margin-top-roadmap{
    margin-top: 60px;
    /*padding: 0 100px;*/
}

.roadmap-title{
    color: #5658E9;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.roadmap-text{
    font-weight: 500;
}

.width-box{
    height: 44px;
    border: 1px solid #FFFFFF;
    opacity: 1;
    border-radius: 10px;
}

.a_{
    text-decoration: none !important;
}

.width-box2{
    height: 44px;
    background: #FF00C7;
    opacity: 1;
    border-radius: 10px;
}

.margin-top-17vh{
    margin-top: 17vh;
}

.margin-top-20{
    margin-top: 20px !important;
}
.margin-top-30{
    margin-top: 30px !important;
}
.margin-top-40{
    margin-top: 40px !important;
}

.HWP{
    font-size: 16px;
    font-family: ArialMT;
    color: #FFFFFF;
    opacity: 1;
    line-height: 44px;
}

.card-heigh{
    min-height: 470px !important;
}

.row{
    margin: 0;
}

.font-12{
    font-size: 12px;
}

.font-13{
    font-size: 13px;
}

.item1{
    position: relative;
}

.Gun,.Sil,.Gold,.Dia,.Crown{
    width: 60px;
    height: 55px !important;
}

@media (max-width: 768px) {
    .hold-coin-introduction{
        position: absolute;
        bottom: -26vh;
    }
    .introduction-content{
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 4px 6px #c5c5c5;
        padding: 20px;
        /*box-sizing: border-box;*/
    }
    .Grade_Promotion{
        margin-top: 30vh;
        
    }
    .img_down{
        max-width: 33.3%;
    }
    .promotion-title,.promotion-title-none{
        font-size: 20px;
    }
    .baiyin-color{
        background-image: linear-gradient(to bottom, #C4CCE3, #727DA2);
    }
    
    .gold-color{
        background-image: linear-gradient(to bottom, #E3953A, #F6E4B9);
    }
    
    .diamond-color{
        background-image: linear-gradient(to bottom, #9DC3F3, #4E80E9);
    }
    
    .crown-color{
        background-image: linear-gradient(to bottom, #C1ACF8, #6736EB);
    }
    .Sil{
        content: url("images/2.png");
       
    }
    .Gold{
        content: url('images/3.png');
    }
    .Dia{
        content: url('images/4.png');
    }
    .Crown{
        content: url('images/6.png');
    }
    .promotion-card-none{
        margin-left: 0px;
        margin-top: 30px;
    }
    .commission-btn{
        padding: 5px 5px;
        margin-left: 0px;
        font-size: 25px;
    }
    .sl_header,.N_o_p,.C_A_M,.M_E,.T_C,.Com{
        text-align: center;
        vertical-align: middle !important;
        padding: 2px !important;
    }
    td,th{
        font-size: 10px !important;
        font-weight: 700;
        text-align: center;
    }
    td{
        padding: 5px !important;
    }
    .table-padding-0{
        padding: 0px !important;
    }
    .com_mech{
        font-size: 18px !important;
    }
    .AI_image1{
        text-align: center;
    }
    .AI_image2{
        display: none;
    }
    .AI_tran{
        font-size: 1.5rem;
    }
    .ai-transaction-rule{
        font-size: 14px;
        padding: 5px;
        font-weight: 500;
    }
    .token_image1{
        background-size: 56% 40px;
    }
    .token_image2{
        background-size: 98% 40px;
    }
    .token_image3{
        background-size: 100% 40px;
    }
    .token_image4{
        background-size: 62% 40px;
    }
    .Token_font{
        font-size: 12px;
    }
    .S_Cooperatio_img{
        width: 110%;
    }
    .width-box{
        height: 44px;
    }
    .width-box2{
        height: 44px;
    }
    .HWP{
        display: inline-block;
        font-size: 10px;
        line-height: 44px;
        white-space: nowrap;
    }
}

.no_select_img{
    display: none;
}

@media (min-width: 992px) {
    #Sil{
        margin-bottom: 11px;
    }
    .text-indent{
         text-indent: -9999px;
    }
    .promotion-title{
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
    }
    .Grade-img{
        padding: 0px !important;
    }
    .text-center-pc{
        text-align: center !important;
    }
    .promotion-title-none{
        color: #000000;
        font-weight: 600;
        font-size: 18px;
    }
    .S_Cooperatio_img{
        width: 100%;
    }
    .token_image1{
        background-size: 24% 40px;
    }
    .token_image2{
        background-size: 42% 40px;
    }
    .token_image3{
        background-size: 45% 40px;
    }
    .token_image4{
        background-size: 27% 40px;
    }
}


.roadmap-item{
    text-align: center;
    min-height: 260px;
    /*padding: 21px 0 35px 0;*/
}

.liner-bg{
    background: linear-gradient(to bottom, transparent 30px, transparent 120px, #F5F5FF 35px 140px, transparent 10px)
}


.liner-radio-left-up{

    /*background: linear-gradient(circle at 0% 80%, transparent 46px, #F5F5FF 24px 26px, transparent -23px 51px, #F5F5FF 23px 70px, transparent 48px 49px);*/
    background: radial-gradient(circle at 100% 100%, transparent 24px, transparent 76px 120px, #F5F5FF 99px 140px, transparent 102px)
}
.liner-radio-left-down{

    /*background: linear-gradient(circle at 0% 80%, transparent 46px, #F5F5FF 24px 26px, transparent -23px 51px, #F5F5FF 23px 70px, transparent 48px 49px);*/
    background: radial-gradient(circle at 100% 0%, transparent 24px, transparent 76px 120px, #F5F5FF 99px 140px, transparent 102px)
}

.liner-radio-right-up{

    /*background: linear-gradient(circle at 0% 80%, transparent 46px, #F5F5FF 24px 26px, transparent -23px 51px, #F5F5FF 23px 70px, transparent 48px 49px);*/
    background: radial-gradient(circle at 0% 100%, transparent 24px, transparent 47px 120px, #F5F5FF 33px 140px, transparent 102px)
}
.liner-radio-right-down{

    /*background: linear-gradient(circle at 0% 80%, transparent 46px, #F5F5FF 24px 26px, transparent -23px 51px, #F5F5FF 23px 70px, transparent 48px 49px);*/
    background: radial-gradient(circle at 0% 0%, transparent 24px, transparent 76px 120px, #F5F5FF 99px 140px, transparent 102px)
}

